<h2><%= @tag %>: Unanswered Prayers</h2>

<div class="form-group">
  <div class="btn-group">
    <%= link_to 'Unanswered', '#', class: "btn btn-default disabled" %>
    <%= link_to 'Answered', tag_answered_prayers_path(@tag), class: "btn btn-default" %>
  </div>
</div>

<div class="form-group">
  <%= render partial: 'prayers/list', locals: {page: :unanswered} %>
</div>
