<h2>Unresolved Thoughts</h2>

<div class="form-group">
  <div class="btn-group">
    <%= link_to 'Unresolved', '#', class: "btn btn-default disabled" %>
    <%= link_to 'Resolved', resolved_thoughts_path, class: "btn btn-default" %>
  </div>
</div>

<div class="form-group">
  <%= render partial: 'thoughts/list', locals: {page: :unanswered} %>
</div>
