<div class="panel panel-default">
  <div class="panel-body">
    <p class="lead"><%= prayer_html(@prayer).html_safe %></p>
    <% @prayer.tags.each do |tag| %>
      <%= link_to tag, tag_path(tag.id), class: 'btn btn-primary btn-sm' %></span>
    <% end %>
    <% if @prayer.answered? %>
      <p class="lead"><%= @prayer.answer %></p>
    <% end %>
    <%= yield %>
  </div>
</div>
