<% if @prayer.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @prayer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @prayer do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-12 col-md-10">
        <%= f.text_field :text, placeholder: 'Prayer', class: 'form-control' %>
      </div>
      <div class="col-sm-12 col-md-2">
        <%= f.submit 'Save Prayer', class: 'btn btn-default btn-block' %>
      </div>
    </div>
  </div>
<% end %>
