@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width: $screen-sm-min) {
  .thought-panel {
    margin-top: 50px;
  }
}

@media (min-width: $screen-md-min) {
  .thought-panel {
    margin-top: 100px;
  }
}

.dropdown-menu li a {
  padding-bottom: 8px;
  padding-top: 8px;
}
