<h2>Answered Prayers</h2>

<div class="form-group">
  <div class="btn-group">
    <%= link_to 'Unanswered', unanswered_prayers_path, class: "btn btn-default" %>
    <%= link_to 'Answered', '#', class: "btn btn-default disabled" %>
  </div>
</div>

<div class="form-group">
  <%= render partial: 'prayers/list', locals: {page: :answered} %>
</div>
